/*VARIABLES for colors*/
* {
  box-sizing: border-box; }

img {
  max-width: 100%; }

body {
  font-size: 1em;
  color: #555759;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif; }

a:link, a:visited {
  color: #555759;
  text-decoration: none; }

a:hover {
  color: #1c8900; }

.main-header {
  background-color: #1c8900;
  color: white;
  display: flex; }
  .main-header a:link, .main-header a:visited {
    color: white; }
  .main-header a:hover {
    background-color: #555759; }

.login {
  position: relative; }
  .login__form {
    width: 200px; }

.enroll {
  position: absolute;
  height: 20px;
  background-color: #1c8900;
  padding: .2em 1em;
  font-size: .6em;
  border-radius: 0 0 30px 30px; }

/*HEADER NAV SECTION*/
header nav ul {
  display: flex;
  list-style-type: none;
  padding-left: 0; }
  header nav ul li {
    margin-right: 1em; }
  header nav ul a {
    text-decoration: none;
    padding: 10px; }

/*login part*/
header {
  display: flex;
  background-color: #1c8900;
  margin: 0 auto;
  justify-content: center; }

/*Banner section*/
.banner {
  background-image: url("mortgage-construction-slider.jpg");
  background-size: 100%;
  position: relative; }
  .banner__top {
    position: relative; }
    .banner__top img {
      position: absolute;
      top: 30px;
      left: 400px; }
  .banner__letters {
    text-align: center;
    color: white;
    padding: 50px;
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 20px; }
  .banner__nav ul {
    justify-content: center;
    list-style-type: none;
    display: flex;
    padding-top: 50px; }
    .banner__nav ul a {
      padding: 10px; }
  .banner__slide {
    text-align: center; }
    .banner__slide button {
      background-color: transparent;
      border: 3px solid white;
      padding: 15px 30px;
      font-size: 20px;
      border-radius: 30px;
      font-weight: bold;
      margin-bottom: 100px; }
      .banner__slide button a {
        color: white; }
      .banner__slide button:hover {
        background-color: white; }
        .banner__slide button:hover a {
          color: #555759; }
  .banner__circle {
    background: white;
    margin: 0 1em 1em 0;
    height: 90px;
    width: 180px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    position: absolute;
    bottom: -60px;
    left: 850px; }

/*mid section*/
.info {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-top: 50px; }
  .info section {
    max-width: 250px;
    text-align: center;
    margin: 10px; }
    .info section img {
      width: 35%; }
    .info section h3 {
      font-size: 25px;
      color: #1c8900;
      font-weight: normal; }
    .info section p {
      font-size: 18px;
      color: #1c8900; }
    .info section button {
      background-color: transparent;
      border: 3px solid #fe620d;
      padding: 15px 30px;
      font-size: 20px;
      border-radius: 30px;
      font-weight: bold;
      margin-top: 25px;
      margin-bottom: 50px; }
      .info section button a {
        color: #fe620d; }
      .info section button:hover {
        background-color: #fe620d; }
        .info section button:hover a {
          color: white; }
  .info__mobile p {
    margin-top: 55px; }

.rates {
  background-image: url(https://www.iccu.com/wp-content/uploads/2018/04/shutterstock_179752877_reduced_green.jpg);
  text-align: center; }
  .rates h2 {
    color: white;
    padding: 30px;
    font-weight: normal;
    font-size: 40px; }
  .rates img {
    width: 50px;
    margin-right: 60px; }
  .rates button {
    background-color: transparent;
    border: 3px solid white;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 30px;
    font-weight: bold;
    margin-bottom: 100px; }
    .rates button a {
      color: white; }
    .rates button:hover {
      background-color: white; }
      .rates button:hover a {
        color: #555759; }

/*removes the check*/
.rates [class*="rates__radio-"] {
  display: none; }

.highlight {
  font-size: 40px; }

.rates__details {
  padding-right: 50px;
  margin-top: 20px;
  margin-bottom: 50px; }

/*Rates Section*/
.rates__mortgage, .rates__auto, .rates__saving {
  display: none;
  color: white;
  justify-content: center; }

.rates__visa {
  display: flex;
  color: white;
  justify-content: center; }

.rates__radio-visa:checked ~ .rates__visa {
  display: flex; }

.rates__radio-mortgage:checked ~ .rates__mortgage {
  display: flex; }

.rates__radio-mortgage:checked ~ .rates__visa {
  display: none; }

.rates__radio-auto:checked ~ .rates__auto {
  display: flex; }

.rates__radio-auto:checked ~ .rates__visa {
  display: none; }

.rates__radio-saving:checked ~ .rates__saving {
  display: flex; }

.rates__radio-saving:checked ~ .rates__visa {
  display: none; }

/*# sourceMappingURL=credit.css.map */
