

.smallPosts {color:#555759; border-color: #555759;}
	.smallPosts a {color: inherit;}
	.smallPosts .dateWrap {color: inherit !important; border-color: inherit !important;}
	.smallPosts:hover {color:#24b200; border-color: #24b200;}
  .smallPosts:focus-within {color: #fd620d;}          
 
#ebranch-login-btn-ios {
  text-align: right;
  padding: 0.85em 2.5em;
  margin-left: 12.5em;
}
    
 #ebranch-login-username {
  height: 45px;
  margin-left: 0.75em;
  color: #555759;
  background: #f2f2f2;
  margin: 0px;
  font-size: 13px;
  border-bottom: 1px solid lightgrey;
}
          
 #headerLogin input[type=password] {
  height: 45px;
  margin: 0;
  color: #1c8900;
  font-size: 13px;
  line-height: 1;
  background: #fff;
  letter-spacing: 0px;
}

 /* Here is the popup login form - hidden by default */
.form-popup {
  position: absolute;
  right: 0px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  display:none;
  background: #f2f2f2;
}

/* container for our input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  font-size: 13px;
  background: #f2f2f2;
  border-bottom: 1.5px solid lightgrey;
}

/*Form width*/
.form-container {
    max-width: 300px;
}

/* Inputs get focus to show user where they are currently  */
.form-container input[type=text]:focus, .form-container input[type=password]:focus, #ebranch-login-username:focus {
  background-color: white;
  outline: none;
}

/* This is the style for the submit/login button */
.form-container .btn {
  background-color: #555759;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 90%;
  margin-bottom:10px;
  border-radius: 30px;
}

/* Add basic hover effects to buttons */
.form-container .btn:hover, .btn:focus, .open-button:hover {
  background-color: #fe620d;
}

/* Create a padlock image that floats to the right of the LOG IN text */
.menu-padlock {
	color: white;
  position: relative;
  z-index: 999;
  top: 3px;
  font-size: 20px;
}

/* Creates a box to close the login menu */
 #close-menu {
    color: #555759; 
    width: 15%; 
    height: 22%; 
    position: absolute; 
    top: -26%; 
    right: 2%;
    border-radius: 2px;
 }

/* Changes the color of the "X" for better user experience */
 #close-menu:hover {
    color: #fe620d;
    cursor:pointer;
 }

/* Creates a text alignment for "Forgot username or password?" and "Register for online banking"*/
 .textAlignment {
    text-align: left;
    color: #1c8900;
   	font-size: 12px;
    margin-left: 15px
 }

/*Fix the input placehoider for the username and password on *Chrome, *Firefox, *Edge etc...*/
::-webkit-input-placeholder {
   color: #555759;
   font-weight: 100;
}
.ninja-forms-form:-moz-placeholder, .ninja-forms-form::-moz-placeholder {
   color: #555759;
   opacity: 1
}
:-ms-input-placeholder {
   color: #555759;
}

#enrollToday {
	right: 252px;
	text-transform: none;
	background: #1c8900;
  border-top: 1px solid #24b200;
	width: 102px;
}

#enrollToday:hover, #enrollToday:focus {
    background-color: #555759;
    border-top: 1px solid #24b200;
    margin-top: 0;
}

#ebranch-login-btn-ios:hover {
    background-color: #555759;
}

/* Media Queries added below for a better mobile and tablet experience */
    @media (max-width: 480px) {
        .navLogin {
            float: right;
            padding-right: 0;
            width: 100%;
        }        
        .navLogin .m-1of3, .navLogin .m-2of3 {
            float: none;
            width: 100%;
        }
        .navLogin input[type=text], .navLogin input[type=password] {
            max-width: unset;
        }
      .textAlignment {
    		    text-align: center;
            color: #1c8900;
    		    font-size: 12px;
    	  }
        #ebranch-login-btn-ios {
            text-align: center;
            padding: 0.85em 2.5em;
            margin-left: 0;
        }  
    }
    @media (min-width: 481px) and (max-width: 1150px) {
        .navLogin {
            float: right;
            padding-right: 0;
            width: 450px;
        }
    }

	@media (min-width: 768px) and (max-width: 960px) {
    	.innerHeaderMobile {
    		width: 760px !important;	
    }
} 

/*This will align the enroll today with the login menu*/
	@media (min-width: 961px) and (max-width: 1150px) {
		#enrollToday {
    		right: 272px;
	}
}
